<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<div th:fragment="game-buttons">
		<div class="zoom">
		
			<div th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
                <div th:case="${false}">
	                   <a class="zoom-fab zoom-btn-large nav-btn-login">
	                   	<i class="fa fa-user"></i>
	                   </a>
					<ul class="zoom-menu zoom-login">
						<li><a href="/socialauth?id=facebook" class="zoom-fab zoom-btn-sm zoom-btn-facebook scale-transition scale-out"><i class="fab fa-facebook"></i></a></li>
						<li><a href="/socialauth?id=twitter" class="zoom-fab zoom-btn-sm zoom-btn-twitter scale-transition scale-out"><i class="fab fa-twitter"></i></a></li>
						<li><a href="/socialauth?id=instagram" class="zoom-fab zoom-btn-sm zoom-btn-instagram scale-transition scale-out"><i class="fab fa-instagram"></i></a></li>
						<li><a href="/socialauth?id=googleplus" class="zoom-fab zoom-btn-sm zoom-btn-google scale-transition scale-out"><i class="fab fa-google"></i></a></li>  
					</ul>
                </div>

                <div th:case="${true}">
                    <a class="zoom-fab zoom-btn-large">
                    	<img th:src="${account.profileImageUrl}" class="img-circle" style="max-height: 40px;" />
					</a>
                    
                    <a class="zoom-fab zoom-btn-large nav-btn-payment">
                    	<i class="fas fa-dollar-sign"></i>
                    </a>
                    
                    <div th:if="${#lists.isEmpty(products)}">No Products Available </div>
    				<div th:if="${not #lists.isEmpty(products)}">
	    				<ul class="zoom-menu zoom-payment">
	    					<li th:each="product : ${products}">
	    						<a href="#"
								class="zoom-fab zoom-btn-sm scale-transition scale-out openPaymentModal"
								th:text="'$' + ${product.price}"
								th:title="${product.description}"
								th:attr="data-product-code=${product.code}"></a>
							</li>
	    				</ul>
	                </div>
                	<div th:case="*">Should never happen, but who knows...</div>
            	</div>
			</div>
		
			<div>
				<a class="zoom-fab zoom-btn-large nav-btn-my-steps ">
					<i class="fas fa-shoe-prints"></i>
				</a>
				<ul class="zoom-menu zoom-my-steps">
					<li><a href="#" class="zoom-fab zoom-btn scale-transition scale-out">No Steps for You</a></li>
				</ul>
				
				<a class="zoom-fab zoom-btn-large nav-btn-nav ">
					<i class="fas fa-crosshairs"></i>
				</a>
				<ul class="zoom-menu zoom-navigation">
					<li><a href="#" class="zoom-fab zoom-btn-sm  scale-transition scale-out"><i class="fas fa-map-marker-alt"></i></a></li>
					<li><a href="#" class="zoom-fab zoom-btn-sm  scale-transition scale-out"><i class="fas fa-home"></i></a></li>
				</ul>
			</div>
		
		</div>
	</div>
</body>
</html>