<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="game-buttons">


		<div id="actions-panel" class="panel-group" role="tablist" aria-multiselectable="true">
			<!-- login -->
			
			<a class="panel-btn-large" th:if="${#authorization.expression('isAuthenticated()')}">
            	<img th:src="${account.profileImageUrl}" class="img-circle" style="max-height: 40px;" />
			</a>
					
			<div class="panel panel-default" th:if="not ${#authorization.expression('isAuthenticated()')}">
				<div class="panel-heading" role="tab" id="headingLogin">
					<h4 class="panel-title">
						<a role="button" 
							class="panel-btn-large collapsed"
							data-toggle="collapse" 
							data-parent="#actions-panel"
							href="#collapseLogin" 
							aria-expanded="true"
							aria-controls="collapseLogin">
							<i class="fas fa-user"></i>
						</a>
					</h4>
				</div>
				<div id="collapseLogin" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingLogin">
					<div class="panel-body">
						<ul>
							<li class="panel-btn-small facebook"><a href="/socialauth?id=facebook" class="">
									<i class="fab fa-facebook"></i>
								</a>
							</li>
							<li class="panel-btn-small twitter"><a href="/socialauth?id=twitter" class="scale-transition scale-out">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="panel-btn-small instagram"><a href="/socialauth?id=instagram" class="scale-transition scale-out">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li class="panel-btn-small google"><a href="/socialauth?id=googleplus" class="scale-transition scale-out">
									<i class="fab fa-google"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- payment -->
			<div class="panel panel-default" th:if="${#authorization.expression('isAuthenticated()')}">
				<div class="panel-heading" role="tab" id="headingPayment">
					<h4 class="panel-title">
						<a class="panel-btn-large collapsed" 
							role="button" 
							data-toggle="collapse"
							data-parent="#actions-panel" 
							href="#collapsePayment"
							aria-expanded="false" 
							aria-controls="collapsePayment">
							<i class="fas fa-dollar-sign"></i>
						</a>
					</h4>
				</div>
				<div id="collapsePayment" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPayment">
					<div class="panel-body">
						<div th:if="${#lists.isEmpty(products)}">No Products Available </div>
	    				<div th:if="${not #lists.isEmpty(products)}">
		    				<ul>
		    					<li th:class="panel-btn-small" th:each="product : ${products}">
		    						<a href="#" class="scale-transition scale-out openPaymentModal"
										th:text="'$' + ${product.price}"
										th:title="${product.description}"
										th:attr="data-product-code=${product.code}"></a>
								</li>
		    				</ul>
		                </div>
	                	
					</div>
				</div>
			</div>
			
			
			<!-- steps -->
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingSteps">
					<h4 class="panel-title">
						<a class="panel-btn-large collapsed" 
							role="button" 
							data-toggle="collapse"
							data-parent="#actions-panel" 
							href="#collapseSteps"
							aria-expanded="false" 
							aria-controls="collapseSteps">
							<i class="fas fa-shoe-prints"></i>
						</a>
					</h4>
				</div>
				<div id="collapseSteps" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSteps">
					<div class="panel-body">
					
					</div>
				</div>
			</div>
			
			<!-- map navigation -->
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingNav">
					<h4 class="panel-title">
						<a class="panel-btn-large collapsed" 
							role="button" 
							data-toggle="collapse"
							data-parent="#actions-panel" 
							href="#collapseNav"
							aria-expanded="false" 
							aria-controls="collapseNav">
							<i class="fas fa-crosshairs"></i>
						</a>
					</h4>
				</div>
				<div id="collapseNav" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNav">
					<div class="panel-body">
						<ul>
							<li class="panel-btn-small"><a href="#" class="scale-transition scale-out"><i class="fas fa-map-marker-alt"></i></a></li>
							<li class="panel-btn-small"><a href="#" class="scale-transition scale-out"><i class="fas fa-home"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>