<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>


<div id="messagesModal"
     class="modal fade"
     role="dialog"
     th:fragment="messageContent"
     th:unless="${#lists.isEmpty(messages) and #lists.isEmpty(messages.messages)}">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Hi <span th:text="${messages.account.displayName}"></span>
                    <img th:src="${messages.account.profileImageUrl}" class="img-circle" style="max-height: 40px;" />
                    You have a new message!</h4>
            </div>
            <div class="modal-body">
                <div th:each="message : ${messages.messages}">
                    <div class="alert"
                         th:classappend="${message.type == 'ERROR'} ? 'alert-warning' : 'alert-info'"
                         role="alert"
                         th:text="${message.message}">
                        ...
                    </div>
                </div>
            </div>
            <div class="modal-footer hidden">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="messages-modal-2"
     class="modal fade"
     role="dialog"
     th:fragment="messages-modal-2">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Hi <span id="accountName"></span>
                    <img id="accountImage" src="" class="img-circle" style="max-height: 40px;" />
                    You have a new message!</h4>
            </div>
            <div class="modal-body">
                <div id="accountMessagesContainer"></div>
            </div>
            <div class="modal-footer hidden">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>