<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="payment">

    <div  id="paymentModal" class="modal fade in" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="paymentModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Title</h4>
            </div>
            <div class="modal-body text-center">

                <div class="alertContainer text-left"></div>

                <form id="payment-form" action="/checkout/" method="post">
                    <section>

                        <div class="btn-group btn-group-lg" id="amountButtons" data-toggle="buttons">
                            <label class="btn btn-info active">
                                <input type="radio" class="toggle" name="amount" value="1step" autocomplete="off" checked> $1 for 1 Step
                            </label>
                            <label class="btn btn-info">
                                <input type="radio" class="toggle" name="amount" value="2step" autocomplete="off" > $2 for 2 Steps
                            </label>
                            <label class="btn btn-info">
                                <input type="radio" class="toggle" name="amount" value="5step" autocomplete="off" > $5 for 5 Steps
                            </label>
                        </div>

                        <div class="bt-drop-in-wrapper">
                            <div id="bt-dropin"></div>
                        </div>
                    </section>
                    
                    <button class="btn btn-success" type="submit"><span>Test Transaction</span></button>
                </form>
            </div>
            <div class="modal-footer hidden">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


</div>

</body>
</html>