body {
    padding-top: 120px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */

}

.navbar {
    min-height: 100px;

    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.navbar-brand {
    padding: 0 15px;
    height: 100px;
    line-height: 100px;
}

.navbar-toggle {
    /* (100px - button height 34px) / 2 = 33px */
    margin-top: 33px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > p {
        padding-top: 24.5px;
    }

    .navbar-nav > li > a {
        /* (100px - line-height of 27px) / 2 = 36.5px */
        padding-top: 36.5px;
        padding-bottom: 36.5px;
        line-height: 27px;
    }
}

.main-content {
    min-height: 800px;
}

footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.fa {
    padding: 25px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}