@font-face {
    font-family: Badaboom;
    src: url("../fonts/badaboom_bb/BADABB__.TTF");
}

@font-face {
    font-family: SF-Comic-Script-Shaded;
    src: url("../fonts/sf_comic_script/SF Comic Script Shaded.ttf");
}

html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	background-color: #2C3E50;
}

a, a:hover, a:focus, a:active, a.active {
	color: #FFF;
	outline: none;
}

.gameCanvas {
	background: url("../img/grass_background.jpg") repeat-y;
	max-width: 1280px;
	margin: 0 auto;
}

#roadContainer {
	margin: 20px auto;
	position: relative;
}

#dolly {
	position: absolute;
	background: url("../img/dolly/dolly-3.png") no-repeat center;
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    
    height: 70px;
    width: 80px;
    border: 0px solid black;
}

.dollyFlip {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	color: white;
	padding: 10px;
	background-color: #233140;
}

.step {
	position: absolute;
	margin: 5px 5px 0 0;
	background: url("../img/tiles/PW00018_b.jpg") no-repeat center;
	/*
		PF01512_b
	PF01514_b
	PF01522_b
	PF01531_b
	PW00006_b
		PW00018_b
	PW00046_b
	PW00047_b
	*/
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0
		rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s ease-in-out;
	cursor: pointer;
}

.step:hover,
.step:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.scroll-top {
	position: fixed;
	right: 2%;
	bottom: 2%;
	width: 50px;
	height: 50px;
	z-index: 1049;
}

.scroll-top .btn {
	font-size: 20px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	line-height: 28px;
}

.scroll-top .btn:focus {
	outline: none;
}