html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	background-color: #2C3E50;
}

a, a:hover, a:focus, a:active, a.active {
	color: #FFF;
	outline: none;
}

.gameCanvas {
	background: url("../img/grass_background.jpg") repeat-y;
	max-width: 1280px;
	margin: 0 auto;
}

#roadContainer {
	margin: 30px auto;
	position: relative;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	color: white;
	padding: 10px;
	background-color: #233140;
}

.step {
	position: absolute;
	margin: 5px 5px 0 0;
	border-radius: 3px;
	border: 1px solid white;
}

.step:hover {
	background-color: white;
}

.scroll-top {
	position: fixed;
	right: 2%;
	bottom: 2%;
	width: 50px;
	height: 50px;
	z-index: 1049;
}

.scroll-top .btn {
	font-size: 20px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	line-height: 28px;
}

.scroll-top .btn:focus {
	outline: none;
}